body {
  font: 14px/1.4 "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}
a {
  color: #00aaff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}
.version {
    font-size: 16px;
}
