<!DOCTYPE html>
<html>
<head>
  <title>Your title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="Your title" />
  <meta name="apple-itunes-app" content="app-id=" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/logo_57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/logo_114x114.png" />
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="images/startup_320x460.jpg">
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="images/startup_640x920.jpg">
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" sizes="640x1096" href="images/startup_640x1096.jpg">
  <link rel="stylesheet" href="css/base.css" /><%
cards.forEach(function (card) {%>
  <link rel="stylesheet" href="styles/<%=card%>.css" /><%
});%>
  <script src="lib/LAB.js"></script>
  <script>
    $LAB.script("lib/storage-0.0.1.js")
    .script("lib/zepto.js")
    .script("lib/eventproxy-0.2.1.js")
    .script("lib/underscore-1.4.4.js").wait()
    .script("lib/landscape-0.0.2.js").wait()
    .script("V5.js").wait()<%
  cards.forEach(function (card) { %>
    .script("scripts/<%=card%>.js")<%
  });%>
    .wait(function () {
      V5.init();
    });
  </script>
</head>
<body>
<div id="container">
  <div class="alpha"></div>
  <div class="beta"></div>
  <div class="gamma"></div>
</div>
</body>
</html>
