/* CSS Reset */
html, body, div, span, object, blockquote, pre,
iframe, p, 
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
ul {
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: inherit;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}



blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}



/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
input, select {
    vertical-align: middle;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.landscape, .portrait {
    min-height: 100%;
}
input.error {
    border-color: #f00;
    border-style: solid;
}
#container {
    display: -webkit-box;
}
#container, .viewport {
    min-height: 100%;
    height: 100%;
}
.viewport {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(122, 122, 122, 0.8);
}
.hidden {
    display: none;
}
.card {
    display: none;
    min-height: 100%;
}
.card.active {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.alpha,
.beta,
.gamma {
    height: 100%;
    display: none;
    overflow: auto;
}

.column_loading {
    min-height: 100%;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
}
.column_loading.hidden {
    display: none;
}
.loading_animation {
    background-image: url("../images/loading.png");
    height: 24px;
    width: 24px;
    -webkit-animation: ticktock 1.5s linear infinite;
}

@-webkit-keyframes ticktock {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.single .alpha {
    display: block;
    width: 100%;
}
.double .alpha,
.double .beta {
    display: block;
}
.double .alpha {
    width: 31%;
    border-right: 1px solid #7a7978;
}
.double .beta {
    width: 69%;
}
.triple .alpha,
.triple .beta,
.triple .gamma {
    display: block;
}
.triple .alpha {
    width: 28%;
}
.triple .beta {
    width: 32%;
}
.triple .gamma {
    width: 40%;
}
.viewport .alpha,
.viewport .beta {
    display: block;
}