#index {
  background-color: transparent;
}

#index article {
  top: 36px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#index li {
  display: -webkit-box;
  -webkit-box-align: center;
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #888;
}

#index li:last-child {
  border-bottom: 1px solid #888;
}

#index li .status {
  width: 50px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

#index li .content {
  -webkit-box-flex: 1;
}

#index li .action {
  width: 50px;
  display: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
#index li .action.active {
  display: -webkit-box;
  
}
